.Clock {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid #34a034;
  border-radius: 50%;
  padding: 8px;
}

.svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
  border-radius: 50%;
}

@keyframes timer {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 471;
  }
}

.svg .timer {
  width: 100%;
  height: 100%;
  fill: transparent;
  transform: translate(5px, 5px);
  stroke: #25d725;
  stroke-dasharray: 471;
  stroke-width: 100%;
  animation: 60s linear timer;
  animation-fill-mode: forwards;
}
